<div style="font-size: 40px; margin: 0;">
    <div
        style="background-color: black; color: white; font-family: 'Helvetica Neue','Open Sans',Helvetica,Arial,sans-serif; text-align: center; margin: 0; padding: 10px">
        <p>Laptop Prices</p>
    </div>
    <div
        style="background-color: #b8c5db; box-shadow: 5px 7px grey; border: 2px solid blue;border-radius: 5%; margin-top: 3vh;">
        <div style="text-align: center; display: inline-block; width: 50%">
            <p style="font-size: 24px">Macbook Pro with Touchbar</p>
        </div>
        <div style="display: inline-block; width: 20%">
            <div style="text-align: center;">
                <p style="font-size: 16px">Bestbuy</p>
            </div>
            <div style="text-align: center;">
                <p style="font-size: 16px">Amazon</p>
            </div>
        </div>
        <div style="display: inline-block; width: 20%">
            <div style="text-align: center;">
                <p style="font-size: 16px;">{{macbookProTouchBarBestbuy}}</p>
            </div>
            <div style="text-align: center;">
                <p style="font-size: 16px;">{{macbookProTouchBarAmazon}}</p>
            </div>
        </div>
    </div>


    <div
        style="background-color: #b8c5db; box-shadow: 5px 7px grey; border: 2px solid blue;border-radius: 5%; margin-top: 3vh;">
        <div style="text-align: center; display: inline-block; width: 50%">
            <p style="font-size: 24px">Macbook Pro without Touchbar 128GB</p>
        </div>
        <div style="display: inline-block; width: 20%">
            <div style="text-align: center;">
                <p style="font-size: 16px">Bestbuy</p>
            </div>
            <div style="text-align: center;">
                <p style="font-size: 16px">Amazon</p>
            </div>
        </div>
        <div style="display: inline-block; width: 20%">
            <div style="text-align: center;">
                <p style="font-size: 16px;">{{macbookPro128Bestbuy}}</p>
            </div>
            <div style="text-align: center;">
                <p style="font-size: 16px;">{{macbookPro128Amazon}}</p>
            </div>
        </div>
    </div>

    <div
        style="background-color: #b8c5db; box-shadow: 5px 7px grey; border: 2px solid blue;border-radius: 5%; margin-top: 3vh;">
        <div style="text-align: center; display: inline-block; width: 50%">
            <p style="font-size: 24px">Macbook Pro without Touchbar 256GB</p>
        </div>
        <div style="display: inline-block; width: 20%">
            <div style="text-align: center;">
                <p style="font-size: 16px">Bestbuy</p>
            </div>
            <div style="text-align: center;">
                <p style="font-size: 16px">Amazon</p>
            </div>
        </div>
        <div style="display: inline-block; width: 20%">
            <div style="text-align: center;">
                <p style="font-size: 16px;">{{macbookPro256Bestbuy}}</p>
            </div>
            <div style="text-align: center;">
                <p style="font-size: 16px;">{{macbookPro256Amazon}}</p>
            </div>
        </div>
    </div>

    <div
        style="background-color: #b8c5db; box-shadow: 5px 7px grey; border: 2px solid blue;border-radius: 5%; margin-top: 3vh;">
        <div style="text-align: center; display: inline-block; width: 50%">
            <p style="font-size: 24px">Macbook Air 128GB</p>
        </div>
        <div style="display: inline-block; width: 20%">
            <div style="text-align: center;">
                <p style="font-size: 16px">Bestbuy</p>
            </div>
            <div style="text-align: center;">
                <p style="font-size: 16px">Amazon</p>
            </div>
        </div>
        <div style="display: inline-block; width: 20%">
            <div style="text-align: center;">
                <p style="font-size: 16px;">{{macbookAir128Bestbuy}}</p>
            </div>
            <div style="text-align: center;">
                <p style="font-size: 16px;">{{macbookAir128Amazon}}</p>
            </div>
        </div>
    </div>

    <div
        style="background-color: #b8c5db; box-shadow: 5px 7px grey; border: 2px solid blue;border-radius: 5%; margin-top: 3vh;">
        <div style="text-align: center; display: inline-block; width: 50%">
            <p style="font-size: 24px">Macbook Air 256GB</p>
        </div>
        <div style="display: inline-block; width: 20%">
            <div style="text-align: center;">
                <p style="font-size: 16px">Bestbuy</p>
            </div>
            <div style="text-align: center;">
                <p style="font-size: 16px">Amazon</p>
            </div>
        </div>
        <div style="display: inline-block; width: 20%">
            <div style="text-align: center;">
                <p style="font-size: 16px;">{{macbookAir256Bestbuy}}</p>
            </div>
            <div style="text-align: center;">
                <p style="font-size: 16px;">{{macbookAir256Amazon}}</p>
            </div>
        </div>
    </div>

    <div
        style="background-color: #b8c5db; box-shadow: 5px 7px grey; border: 2px solid blue;border-radius: 5%; margin-top: 3vh;">
        <div style="text-align: center; display: inline-block; width: 50%">
            <p style="font-size: 24px">Sony WH-1000XM3</p>
        </div>
        <div style="display: inline-block; width: 20%">
            <div style="text-align: center;">
                <p style="font-size: 16px">Amazon India</p>
            </div>
        </div>
        <div style="display: inline-block; width: 20%">
            <div style="text-align: center;">
                <p style="font-size: 16px;">{{sonyXm3Amazon}}</p>
            </div>
        </div>
    </div>

</div>